* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

#titulo {
    font-size: 2.5em;
    text-align: center;
    margin: 1em 0;
}

/* Form | Adicionar tarefa */
form#adicionar-tarefa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
}

div#inputs-form {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

div#inputs-form input {
    font-size: 1.4em;
}

form#adicionar-tarefa button {
    font-size: 1.3em;
}

/* Form | Tarefas adicionadas */

#formulario-tarefas {
    margin-top: 3em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#tarefas-a-fazer {
    width: 65vw;

    background-color: #0ff3;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

/* Cabeçalho com tarefas */
#header-lista-tarefas {
    display: flex;
    justify-content: space-around;
    font-size: 1.4em;
    margin-bottom: 1.4em;
}

/* Aqui ficarão as tarefas adicionadas */
#tarefas {
    background-color: #03f3;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 1.3em;
}

/* Estilização de cada tarefa */
.tarefa {
    display: flex;
    justify-content: space-around;
    background-color: #2594;
}

.tarefa label {
    width: 33.3%;
}

.excluir-tarefa {
    position: absolute;
    right: 13vw;
}

/* Horário fim das atividades */
#horario-fim-atividades {
    margin-top: 3em;

    display: none;
    align-items: center;
    flex-direction: column;
}

#horario-fim-atividades #horario {
    font-size: 2em;
    padding: 0.2em;
    border: solid 4px #000;
    border-radius: 0.15em;
    box-shadow: 0 0 0.4em #0005;
}