main {
    padding: 15px 0 5px 0;
    background-color: rgb(9, 126, 18);
    width: 80%;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 0px;
}

* {
    margin: 0 auto;
    margin-bottom: 10px;
}

div {
    padding: 15px 0 5px 0;
    width: 80%;
    display: flex;
    text-align: center;
    background-color: rgb(54, 12, 241);
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 3px;
    align-items: center;
}