* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#netflix {
    width: 100vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    display: flex;
    height: 424px;
    padding-left: 45px;
    overflow: hidden;
    position: absolute;
}

.item1 {
    width: 70px;
    height: 420px;
    background-color: #b1060f;
    transform: translateX(-45px);
}

.item2 {
    width: 70px;
    height: 420px;
    background-color: #b1060f;
    transform: translateX(40px);
}

.item3 {
    width: 70px;
    height: 490px;
    background-color: #e50914;
    rotate: 340deg;
    translate: -110px -40px;
}

.item4 {
    width: 280px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    position: absolute;
    top: 410px;
    right: 0;
}