* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: burlywood;
}

#topo {
    text-align: center;
}

#nav1{
    margin: 15px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#nav1 a{
    margin: 0 auto;
    font-size: 45px;
}

#alan {
    margin: 0 auto;
    border: solid 2px black;
    width: 500px;
    height: 350px;
    background-color: aqua;
}

#alan img {
    width: 100%;
    height: 100%;
}

#div1, #div2 ,#div3 {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 350px auto 0;
    width: 75%;
    padding: 30px;
    border-radius: 30px;
    background-color: rgb(173, 143, 105);
}


footer {
    margin-top: 150px;
    text-align: center;
}

footer a {
    font-size: 155px;
}

a {
    text-decoration: none;
    color: rgb(203, 53, 133);
}
