* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* TELA INICIAL */
main #tela-inicial {
    background-color: rebeccapurple;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo-jogo {
    padding-top: 7vh;
    font-size: 1.8em;
    color: white;
    font-family: sans-serif;
}

#menu-opcoes {
    margin-top: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

#menu-opcoes button {
    font-size: 1.5em;
    border: solid 4px #000;
    border-radius: 5px;
    padding: 15px 30px;
    background-color: #2FE0AA;
    transition: scale 0.2s;
}

#menu-opcoes button:hover {
    cursor: pointer;
    scale: 1.15;
}


/* # INÍCIO DO JOGO: */

/* INTERFACE JOGO */
main #interface-jogo {
    display: none; /*flex quando iniciar o jogo*/
    flex-direction: column;
    gap: 15vh 0;
}


/* RESULTADO DO CHUTE */

#resultado-chute {
    margin-top: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* border: solid 2px #000; */
}

#ilustracao-forca {
    
}

#ilustracao-forca img {
    width: 200px;
}

#chutes-errados {

    font-size: 1.9em;
}


/* PALAVRA ESCONDIDA */

#palavra-escondida {
    margin-left: 10vw;
    
    font-size: 1.7em;
    /* border: solid 2px #000; */
}


/* CHUTAR PALAVRA */

#input-chute {
    display: flex;
}

#input-chute form {
    padding: 0 10vw;
    gap: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7em 0;
}

form #chute {
    padding: 10px 0 10px 8px;
    font-size: 2em;
    width: 50vw;
}

form #enviar {
    border: solid 2px #000;
    border-radius: 20px;
    padding: 10px 20px;;
}

form #enviar:hover {
    cursor: pointer;
}