/* Estilizações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif
}

/* Configurações */
.botao-configuracao {
    position: absolute;
    top: 0;
}

.botao-configuracao img {
    width: 3.8em;
    border: solid 0.2em #000;
    border-radius: 50%;
    margin: 2.5vh 0 0 0;
    box-shadow: 2px 2px 3px #0008;
    background-color: #FFF;
    transition: scale 0.15s;
}

.botao-configuracao img:hover {
    /* scale: 1.1; */
    cursor: pointer;
}

.botao-configuracao img:active {
    background-color: #2222;
}

#botao-configuracao-ajuda {
    right: 120px;
    animation: pulsar 4s infinite ease-in-out;
    animation: name duration timing-function delay iteration-count direction ;
}

@keyframes pulsar {
    0% {
        scale: 1;
    }

    40% {
        scale: 1.5;
    }

    100% {
        scale: 1;
    }
}

.bandeiras {
    position: absolute;
    right: 0;
    opacity: 0;
    transform: translateY(0);
}

#bandeira-brasil, #bandeira-espanha, #bandeira-japones, #bandeira-franca, #bandeira-arabe, #bandeira-china, #bandeira-eua {
    transition: transform 1.2s, opacity 0.7s;
}

.bandeira-atual {
    opacity: 1;
    z-index: 2;
}

#botao-configuracao-lingua {
    right: 40px;
}

/* Opções de dificuldade */
#configuracao-dificuldade {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.botao-escolha-dificuldade {
    padding: 20px 120px;
    border: 3px solid #000;
    background-color: #FFF;
    font-size: 1.5em;
    border-radius: 15px;
    transition: scale 0.1s;
}

.botao-escolha-dificuldade:hover {
    scale: 1.05;
    cursor: pointer;
}

/* Palavra da vez */
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#palavra-da-vez {
    font-size: 4em;
    text-shadow: 2px 2px 3px #000;
    color: #000;
}

/* Botão de ajuda */
#menu-de-ajuda {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 40px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 50%;
    border-radius: 30px;
    padding: 25px;
    background-color: #777A;
    font-size: 1.5em;
}

#menu-de-ajuda h3 {
    text-align: center;
    font-size: 1.6em;
}

#menu-de-ajuda b {
    color: #ab29d6;
}

#exemplo-menu {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    margin: 0 auto;
    width: 60%;
    
    background-color: #0002;
}

#exemplo-menu div {
    gap: 5%;
    display: flex;
    text-align: center;
    font-size: 1.2em;
}

#exemplo-menu div p {
    width: 33.3%;
    text-shadow: 2px 2px 3px #000;
}

#exemplo-menu div:nth-child(1) p:nth-child(1) {
    color: #ff1212;
}
#exemplo-menu div:nth-child(1) p:nth-child(2) {
    color: #faf32a;
}
#exemplo-menu div:nth-child(1) p:nth-child(3) {
    color: #000;
}

#exemplo-menu div:nth-child(2) p:nth-child(1) {
    color: #3cdb37;
}
#exemplo-menu div:nth-child(2) p:nth-child(2) {
    color: #ab29d6;
}
#exemplo-menu div:nth-child(2) p:nth-child(3) {
    color: #0c7ded;
}

#resposta-menu {
    font-size: 0.8em;
}

#agora-voce-sabe-menu {
    font-size: 0.9em;
}




/* Configurações de telas de diferentes tamanhos */

/* 4K */
@media only screen and (max-width: 2000px) {
    #exemplo-menu {
        width: 85%;
    }
}

/* Laptop Large */
@media only screen and (max-width: 1440px) {
    #menu-de-ajuda {
        width: 70%;
    }
}

/* LAPTOP */
@media only screen and (max-width: 1024px) {
    #menu-de-ajuda {
        font-size: 1.3em;
    }

    #exemplo-menu {
        gap: 15px 0;
        margin: 0 auto;
        width: 90%;
    }

    #exemplo-menu div {
        gap: 3%;
        font-size: 1.1em;
    }
}

/* TABLET */
@media only screen and (max-width: 768px) {
    #menu-de-ajuda {
        width: 90%;
        font-size: 1.15em;
    }

    #exemplo-menu div {
        font-size: 0.95em;
    }
}

/* MOBILE Large */
@media only screen and (max-width: 425px) {
    #menu-de-ajuda {
        width: 90%;
        font-size: 0.9em;
    }

    #exemplo-menu {
        width: 100%;
    }
}
