* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#titulo {
    text-align: center;
}

/* PUDINS */
#pudins {
    margin-top: 4em;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#pudim_feliz {
    background-image: url(imgs/pudim_feliz.png);
    z-index: 2;
    cursor: pointer;
}

#pudim_feliz:active {
    z-index: 0;
}

#pudim_apertado {
    background-image: url(imgs/pudim_apertado.png);
    z-index: 1;
    position: absolute;
    cursor: pointer;
}

.imagem_pudim {
    background-size: contain;
    background-repeat: no-repeat;
    width: 25vw;
    height: 28vh;
    position: absolute;

    border-radius: 60% / 100% 70% 13% 15% 
}

#informacoes_pudins {
    text-align: center;
    margin-top: 30vh;
}

#pudins_por_segundo {
    font-size: 1.5em;
}

#quantidade_pudins {
    font-size: 2em;
}

/* Efeito ao clicar no pudim */
.click_effect {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0;  
    animation: subirNumeros 1.5s;
    z-index: 2;
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.click_effect p {
    font-size: 2em;
    color: #d44437;
    text-shadow: 0 0 5px #0002;
}

@keyframes subirNumeros {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -200%);
        opacity: 0;
    }
}

/* Upgrades */

aside {
    position: fixed;
    right: 0;
    top: 0;
    width: 28em;
    height: 100vh;

    /* PRECISA DISSO: */
    /* overflow-y: auto; */
}

#upgrades {
    background-color: #0006;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.upgrade {
    position: relative;
    height: 6em;
    display: flex;
    flex-direction: column;

    background-color: #d44437;
    background-size: contain;
    background-position: 100%;
    background-repeat: no-repeat;

    /* Não permitir selecionar o texto dos upgrades: */
    -ms-user-select: none; /* Internet Explorer e Edge */
    user-select: none;
}

.upgrade_caro {
    background-color: #525252;
}

.upgrade:hover {
    cursor: pointer;
    
    border: 2px solid #000;
    border-radius: 5px;
}

.upgrade:active {
    opacity: 0.85;
}

.upgrade::before {
    content: "+5 PPS";
    padding: 0.5rem;
    position: absolute;
    background-color: #8a4619;
    height: 100%;
    transform: translate(-100%);
}


#upgrade_confeiteira {
    background-image: url(imgs/upgrades/confeiteira.png);
    border-radius: 0 0 5px 5px;
}

#upgrade_chef {
    background-image: url(imgs/upgrades/chef.png);
}
#upgrade_padaria {
    background-image: url(imgs/upgrades/padaria.png);
}
#upgrade_confeitaria {
    background-image: url(imgs/upgrades/confeitaria.png);
}
#upgrade_supermercado {
    background-image: url(imgs/upgrades/supermercado.png);
}
#upgrade_cafeteria {
    background-image: url(imgs/upgrades/cafeteria.png);
}

#upgrade_gourmet {
    background-image: url(imgs/upgrades/gurmet.png);
    border-radius: 5px 5px 0 0;
}

.informacoes_upgrade {
    height: 100%;
    padding: 0 0em 0 2em;
    display: flex;
    align-items: center;
    gap: 0 4em;
}

.informacoes_upgrade p:first-child {
    font-size: 1.5em;
}

.informacoes_upgrade p:last-child {
    font-size: 1.3em;
}

.custo_upgrade {
    position: absolute;
    bottom: 8%;
    left: 3%;
}

/* FOOTER MELHORIAS */
footer {
    background-color: #d4443755;

    width: 20em;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
}

#informacoes_melhorias {
    background-color: #E64A3C;
    color: #111;

    padding: 15px;
    width: 108%;
    display: none;
    flex-direction: column;
    gap: 30px;
}

#nome_preco_melhoria {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.05em;
}

#descricao_melhoria {
    border-top: 3px solid #000;
    padding-top: 10px;
    font-weight: 600;
}

#melhorias {
    box-sizing: content-box;
    overflow-y: scroll;
    width: 20em;
    height: 8em;
    background-color: #333;
    padding: 1.2em 0.8em;

    display: flex;
    flex-wrap: wrap;
}

#melhorias::-webkit-scrollbar {
    display: none;
}

.item_melhoria {
    background-size: cover;
    box-sizing: content-box;
    border: solid 3px #111;
    display: none;
    background-color: #EEE;
    width: 22%;
    height: 4.3em;
    transition: scale 0.15s;
}

.item_melhoria:hover {
    cursor: pointer;
    scale: 1.05;
}

.melhoria {
    height: 100%;
    border: solid 4px #d44437DD;
}

.melhoria_cara {
    background-color: #0008;
}

.aparecer {
    display: block;
}

#melhoria_confeiteira_1 {
    background-image: url(imgs/melhorias/confeiteira1.png);
}

#melhoria_confeiteira_2 {
    background-image: url(imgs/melhorias/confeitaria2.png);
}

#melhoria_confeiteira_3 {
    background-image: url(imgs/melhorias/confeitaria2.png);
}

#melhoria_confeiteira_4 {
    background-image: url(imgs/melhorias/confeitaria2.png);
}

#melhoria_confeiteira_5 {
    background-image: url(imgs/melhorias/confeitaria2.png);
}

#melhoria_chef_1 {
    background-image: url(imgs/melhorias/chef1.png);
}

#melhoria_chef_2 {
    background-image: url(imgs/melhorias/chef2.png);
}

#melhoria_padaria_1 {
    background-image: url(imgs/melhorias/padaria1.png);
}

#melhoria_padaria_2 {
    background-image: url(imgs/melhorias/padaria2.png);
}

#melhoria_confeitaria_1 {
    background-image: url(imgs/melhorias/imagem_provisoria.png);
}

#melhoria_confeitaria_2 {
    background-image: url(imgs/melhorias/imagem_provisoria.png);
}

#melhoria_supermercado_1 {
    background-image: url(imgs/melhorias/supermercado1.png);
}

#melhoria_supermercado_2 {
    background-image: url(imgs/melhorias/imagem_provisoria.png);
}

#melhoria_cafeteria_1 {
    background-image: url(imgs/melhorias/cafeteria1.png);
}

#melhoria_cafeteria_2 {
    background-image: url(imgs/melhorias/cafeteria2.png);
}