* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    margin-top: 5%;
    position: relative;
    width: 70%;
}

/* PUDINS */
#pudins {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#pudim_feliz {
    background-image: url(imgs/pudim_feliz.png);
    z-index: 2;
    cursor: pointer;
}

#pudim_feliz:active {
    z-index: 0;
}

#pudim_apertado {
    background-image: url(imgs/pudim_apertado.png);
    z-index: 1;
    position: absolute;
    cursor: pointer;
}

.imagem_pudim {
    background-size: contain;
    background-repeat: no-repeat;
    width: 34%;

    height: 28vh;
    position: absolute;

    border-radius: 400px 300px 0 0; /* Cria uma elipse na parte superior */
}

#informacoes_pudins {
    text-align: center;
    margin-top: 26%;
}

#pudins_por_segundo,
#quantidade_pudins {
    /* Não permitir selecionar o texto dos upgrades: */
    -ms-user-select: none; /* Internet Explorer e Edge */
    user-select: none;
}

#quantidade_pudins {
    font-size: 2em;
}


/* Efeito ao clicar no pudim */
.click_effect {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0;  
    animation: subirNumeros 1.5s;
    z-index: 2;
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.click_effect p {
    font-size: 2em;
    color: #d44437;
    text-shadow: 0 0 5px #0002;
}

@keyframes subirNumeros {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -200%);
        opacity: 0;
    }
}


/* Botões */
#botao-responsividade {
    display: none;
}

#botao-configuracoes {
    position: absolute;
    top: 15px;
    left: 25px;
}

.botao-abrir-menu img {
    border: solid 3px #000;
    padding: 4px;
    border-radius: 50%;

    width: 55px;
    height: 55px;
    transition: scale 0.15s;
    background-color: #FFF;
}

.botao-abrir-menu img:hover {
    cursor: pointer;
    scale: 1.1;
}

.botao-abrir-menu img:active {
    background-color: #2222;
}

.mostrar {
    display: block;
}

/* Menu configurações */
#menu-configuracoes {
    /* display: none; */
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 40%;
    text-align: center;
    padding: 25px 50px;

    background-color: #cfc2c1;
}

#botao-musica, #botao-som {
    display: flex;
    gap: 0.5em;
}

/* Upgrades */
aside {
    position: fixed;
    right: 0;
    top: 0;
    width: 48em;
    padding-left: 20em;
    height: 100vh;
    overflow-y: scroll;
}

#upgrades {
    background-color: #0006;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.upgrade {
    position: relative;
    height: 6em;
    display: flex;
    flex-direction: column;

    background-color: #d44437;
    background-size: contain;
    background-position: 100%;
    background-repeat: no-repeat;

    /* Não permitir selecionar o texto dos upgrades: */
    -ms-user-select: none; /* Internet Explorer e Edge */
    user-select: none;
}

.upgrade_caro {
    background-color: #525252;
}

.upgrade:hover {
    cursor: pointer;
    border: 2px solid #000;
    /* border-radius: 5px; */
}

.upgrade:active {
    opacity: 0.85;
}

.informacoes_upgrade::before,
.informacoes_upgrade::after {
    pointer-events: none;
    position: absolute;
    scale: 0;
    transition: 0.2s scale;
    /* Display none -> só vai ficar visível ao comprar o upgrade pela 1° vez */
    display: none;
}

.mostrar_before::before,
.mostrar_after::after {
    display: block;
}

.informacoes_upgrade::before {
    content: attr(data-tooltip);
    text-align: center;
    white-space: pre-wrap;
    padding: 1.4em 0.5em;
    box-sizing: border-box;
    background-color: #8a4619;
    border-radius: 0.3em;
    width: 9em;
    height: 6em;
    left: -1.5em;
    transform: translate(-100%, -2px);
}

.informacoes_upgrade::after {
    content: "";
    left: -1.6em;
    top: 50%;
    border:  20px solid transparent;
    border-left-color: #8a4619;
    transform: translateY(-50%);
    transform-origin: right top;
}

.informacoes_upgrade:hover::before,
.informacoes_upgrade:hover::after {
    scale: 1;
}

#upgrade_confeiteira {
    background-image: url(imgs/upgrades/confeiteira.png);
}

#upgrade_chef {
    background-image: url(imgs/upgrades/chef.png);
}
#upgrade_padaria {
    background-image: url(imgs/upgrades/padaria.png);
}
#upgrade_confeitaria {
    background-image: url(imgs/upgrades/confeitaria.png);
}
#upgrade_supermercado {
    background-image: url(imgs/upgrades/supermercado.png);
}
#upgrade_cafeteria {
    background-image: url(imgs/upgrades/cafeteria.png);
}

#upgrade_gourmet {
    background-image: url(imgs/upgrades/gurmet.png);
}

#upgrade_planeta {
    display: none;
    background-image: url(imgs/upgrades/planeta.png);
}

.informacoes_upgrade {
    height: 100%;
    width: 75%;
    padding: 0 0em 0 2em;
    display: flex;
    align-items: center;
    gap: 0 3.8em;
}

.informacoes_upgrade p:first-child {
    font-size: 1.5em;
}

.informacoes_upgrade p:last-child {
    font-size: 1.3em;
}

.custo_upgrade {
    position: absolute;
    pointer-events: none;
    bottom: 8%;
    left: 3%;
    width: 71%;
    overflow: hidden;
}

.descricao_upgrade {
    padding-right: 5px;
}


/* FOOTER MELHORIAS */
footer {
    /* background-color: #d4443755; */

    position: relative;
    z-index: 3;

    width: 20em;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
}

#informacoes_melhorias {
    background-color: #e85a4e;
    color: #111;

    padding: 15px;
    width: 108%;
    display: none;
    flex-direction: column;
    gap: 20px;

    /* Não permitir selecionar o texto dos upgrades: */
    -ms-user-select: none; /* Internet Explorer e Edge */
    user-select: none;
}

#nome_preco_melhoria {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.05em;
}

#descricao_melhoria {
    border-top: 3px solid #000;
    padding-top: 10px;
    font-weight: 600;
    font-size: 0.95em;
}

#melhorias {
    box-sizing: content-box;
    overflow-y: scroll;
    min-height: 72px;
    max-height: 150px;
    width: 100%;
    min-width: 320px;
    background-color: #333;
    padding: 1.2em 0.8em;

    display: flex;
    flex-wrap: wrap;
}

#melhorias::-webkit-scrollbar {
    display: none;
}

.item_melhoria {
    background-size: cover;
    box-sizing: content-box;
    border: solid 3px #111;
    display: none;
    background-color: #EEE;
    width: 72px;
    height: 72px;
    transition: scale 0.15s;
    box-sizing: border-box;
}

.item_melhoria:hover {
    cursor: pointer;
    scale: 1.05;
}

.melhoria {
    height: 100%;
    border: solid 3px #d44437DD;
}

.melhoria_cara {
    background-color: #0008;
}

.aparecer {
    display: block;
}

#melhoria_confeiteira_1 {
    background-image: url(imgs/melhorias/confeiteira1.png);
}

#melhoria_confeiteira_2 {
    background-image: url(imgs/melhorias/confeiteira2.png);
}

#melhoria_confeiteira_3 {
    background-image: url(imgs/melhorias/confeiteira3.png);
}

#melhoria_confeiteira_4 {
    background-image: url(imgs/melhorias/confeiteira4.png);
}

#melhoria_confeiteira_5 {
    background-image: url(imgs/melhorias/confeitaria5.png);
}

#melhoria_chef_1 {
    background-image: url(imgs/melhorias/chef1.png);
}

#melhoria_chef_2 {
    background-image: url(imgs/melhorias/chef2.png);
}

#melhoria_chef_3 {
    background-image: url(imgs/melhorias/chef3.png);
}

#melhoria_padaria_1 {
    background-image: url(imgs/melhorias/padaria1.png);
}

#melhoria_padaria_2 {
    background-image: url(imgs/melhorias/padaria2.png);
}

#melhoria_confeitaria_1 {
    background-image: url(imgs/melhorias/confeitaria1.png);
}

#melhoria_confeitaria_2 {
    background-image: url(imgs/melhorias/confeitaria2.png);
}

#melhoria_supermercado_1 {
    background-image: url(imgs/melhorias/supermercado1.png);
}

#melhoria_supermercado_2 {
    background-image: url(imgs/melhorias/supermercado2.png);
}

#melhoria_cafeteria_1 {
    background-image: url(imgs/melhorias/cafeteria1.png);
}

#melhoria_cafeteria_2 {
    background-image: url(imgs/melhorias/cafeteria2.png);
}


/* ESTILIZAÇÕES DE RESPONSIVIDADE */

/* Laptop Grande */
@media only screen and (max-width: 1440px) {
    aside {
        width: 48em;
        padding-left: 25em;
    }

    .upgrade {
        height: 7em;
        font-size: 0.83em;
    }
}

/* Laptop */
@media only screen and (max-width: 1024px) {

    main {
        margin-top: 8%;
        width: 50%;
    }

    .imagem_pudim {
        width: 50%;
    }

    #informacoes_pudins {
        margin-top: 33%;
    }

    #pudins_por_segundo {
        font-size: 0.9em;
    }

    #quantidade_pudins {
        font-size: 1.7em;
    }
}

/* Tablets */
@media only screen and (max-width: 885px) {

    /* Pudim */
    main {
        margin: 8% auto 0;
        width: 75%;
        margin-top: 20vh;
    }

    .imagem_pudim {
        height: 21.2vw;
    }

    /* UPGRADES */
        /* Transforma os UPGRADES em um ícone */

    aside {
        display: none;
        flex-direction: column;
        align-items: center;

        position: fixed;
        left: calc(50% - 75px);
        top: -2%;
        padding-left: 150px;
        width: calc(320px + 150px);
        height: 104%;
        z-index: 4;
        transform: translateX(-50%);
    }

    aside::-webkit-scrollbar {
        /*  Remove a barra de rolagem horizontal */
        width: 0;
    }

    #upgrades {
        width: 320px;
        padding: 25px;
        background-color: #FFF;
        border: solid 4px #000;
        border-radius: 10px;
    }

    .informacoes_upgrade {
        font-size: 0.8em;
        width: 66%;
    }

    .custo_upgrade {
        width: 62%;
    }

    #botao-responsividade {
        display: block;
        position: absolute;
        z-index: 5;
        top: 15px;
        right: 25px;
    }

    /* FOOTER MELHORIAS */
    footer {
        width: 100%;
        padding: 0 25px 0 0;
    }

    #informacoes_melhorias {
        width: calc(100% + 25px);
    }



}

/* MOBILE Grande */
@media only screen and (max-width: 515px) {

    /* Pudim */
    main {
        margin: 8% auto 0;
        width: 75%;
        margin-top: 20vh;
    }

    .imagem_pudim {
        height: 30vw;
        width: 70%;
    }

    #informacoes_pudins {
        margin-top: 43%;
    }
    
    /* UPGRADES */
    aside {
        top: 5px;
        left: 50%;
        padding-left: 100px;
        width: calc(300px + 150px);
    }

    .informacoes_upgrade {
        width: 70%;
    }

    #upgrades {
        width: 250px;
    }

    .upgrade {
        height: 6em;
        font-size: 0.64em;
    }

    .custo_upgrade {
        width: 66%;
    }

    /* MELHORIAS */
    .informacoes_upgrade::after {
        /* Seta > */
        border:  13px solid transparent;
        border-left-color: #8a4619;
        top: 27px;
    }
    
}

/* MOBILE Médio */
@media only screen and (max-width: 375px) {
    .informacoes_upgrade::before {
        /* Caixa com informações */
        padding: 0.9em 0.2em;
        font-size: 0.8em;
        width: 8em;
        height: 5em;
    }
    
    .informacoes_upgrade::after {
        /* Seta > */
        border:  12px solid transparent;
        border-left-color: #8a4619;
    }
}

/* MOBILE Pequeno */
/* @media only screen and (max-width: 320px) {} */