header{
    width: 80%;
    background-color: aqua;
    display: flex;
    margin-bottom: 12px;
    
}

header h1.names:hover{
    cursor: pointer;
    color: rgb(230, 255, 2);
    background-color: black;
    text-decoration: underline;
}

header h1.names:active{
    color: rgb(255, 254, 254);
}

header h1.names{
    padding: 6px 12px;
}

* {
    margin: 15px auto;
}

div#informationsBox{
    margin-top: 0px;
    width: 80%;
    background-color: red;
    display: flex;
    color: white;
}

div p#informationAppear{
    text-align: center;
    padding: 10px 35px;
    font-size: large;
}

body{
    background-image: url('https://img.freepik.com/free-vector/minimalist-background-with-leaves_23-2148909131.jpg?w=2000');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}