* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightslategray;
}


main {
    margin: 2% 0 0 5%;
    width: 380px;
    height: 620px;
    border: solid black 2px;
}

#resultado {
    height: 230px;
    background-color: lightcoral;
}

#operacoes {
    padding: 8px;
    height: calc(100% - 230px);
    background-color: aquamarine;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.botoes_da_calculadora {
    border: solid 2px black;
    border-radius: 10px;
    background-color: lightgreen;
    display: grid;
    place-content: center;
}

.botoes_da_calculadora p {
    font-weight: 600;
    font-family: sans-serif;
}