* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightslategray;
}


main {
    margin: 2% 0 0 5%;
    width: 380px;
    height: 620px;
    border: solid black 2px;
}

div#resultado {
    padding: 8px;
    display: grid;
    place-content: center right;
    height: 230px;
    background-color: #202020;
}

p#resultado_numero {
    /* background-color: rgba(255, 154, 154, 0.651); */
    font-size: 3.5em;
    font-weight: 600;
    font-family: sans-serif;
    color: #fff;
}

#operacoes {
    padding: 8px;
    height: calc(100% - 230px);
    background-color: #202020;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.botoes_da_calculadora {
    border: solid 2px black;
    border-radius: 5px;
    background-color: #3b3b3b;
    display: grid;
    place-content: center;
}

#botao1, #botao2, #botao3, #botao4, #botao5, #botao6, #botao7, #botao8, #botao12, #botao16, #botao20 {
    background-color: #323232;  
}

.botoes_da_calculadora p {
    font-weight: 600;
    font-family: sans-serif;
    color: #fff;
}