* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Seta Voltar */
#seta-voltar-pagina {
    position: absolute;
}

/* TELA INICIAL */
main #tela-inicial {
    background-color: rebeccapurple;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo-jogo {
    padding-top: 7vh;
    font-size: 1.8em;
    color: white;
    font-family: sans-serif;
}

#menu-opcoes {
    margin-top: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

#menu-opcoes button {
    font-size: 1.5em;
    border: solid 4px #000;
    border-radius: 5px;
    padding: 15px 30px;
    background-color: #2FE0AA;
    transition: scale 0.2s;
}

#menu-opcoes button:hover {
    cursor: pointer;
    scale: 1.15;
}


/* # INÍCIO DO JOGO: */

/* INTERFACE JOGO */
main #interface-jogo {
    height: 100vh;
    display: none; /*flex quando iniciar o jogo*/
    flex-direction: column;
    gap: 2vh 0;
}


/* RESULTADO DO CHUTE (ILUSTRAÇÃO) */

#resultado-chute {
    margin-top: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* border: solid 2px #000; */
}

/* #ilustracao-forca {
    
} */

#ilustracao-forca img {
    width: 25em;
}

#chutes-errados {

    font-size: 1.9em;
}


/* PALAVRA ESCONDIDA */

#div-palavra-escondida {
    margin-left: 10vw;
    
    font-size: 1.5em;
    /* border: solid 2px #000; */
}

#underline-palavra-escondida {
    font-size: 2.5em;
}



/* CHUTAR PALAVRA */

#input-chute {
    display: flex;
    justify-content: center;
}

#input-chute form {
    margin-top: 20vh;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9em 0;
}

form #chute {
    padding: 10px 0 10px 8px;
    font-size: 1.8em;
    width: 50vw;
}

form #enviar {
    border: solid 2px #000;
    border-radius: 20px;
    padding: 10px 20px;;
    font-size: 1.4em;
    background-color: #2FE0AA;
    transition: scale 0.15s;
    box-shadow: 1px 1px 2px;
}

form #enviar:hover {
    cursor: pointer;
    scale: 1.1;
}

#fim-de-jogo {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#fim-de-jogo h2 {
    font-size: 2.5em;
}

#fim-de-jogo p {
    font-size: 1.6em;
}

#fim-de-jogo button {
    margin-top: 2em;
    font-size: 2em;
    background-color: rebeccapurple;
    padding: 0.2em 0.4em;
    color: #fff;
    border: solid 2px #000;
    box-shadow: 2px 2px 3px #000600;
    border-radius: 0.3em;
    transition: scale 0.15s;

}

#fim-de-jogo button:hover {
    cursor: pointer;
    scale: 1.05;
}