* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.verdadeiro {
    background-color: #ed2828;
}

.falso {
    background-color: #8a8787;
}

button {
    border-radius: 5%;
    border: solid 3px #000;
}


/* Botão Reiniciar */
header {
    margin-top: 5vh;
    display: flex;
    padding: 0 2em;
    /*   justify-content: center; */
}

#reiniciar-rodada {
    background-color: lightgreen;
    padding: 0.5em 0.8em;
    font-size: 1em;
}

#reiniciar-rodada:hover {
    cursor: pointer;
    scale: 1.05
}


/* Muninção da Rodada */
#municao-rodada {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

#verdadeiro-falso {
    margin-top: 10vh;


    display: flex;
    /*   justify-content: center; */
    gap: 2em;
}

.div-qtd-municao {
    display: flex;
    border: solid 2px #000;
}

.selecionar-qtd {
    padding: 1em 1.3em;
    border: solid 2px #000;
    font-size: 1.4em;
}

.selecionar-qtd:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Informações do pente */
#pente-espingarda {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.6em;
    /*   align-items: center; */
}

#qtd-restante {
    font-size: 1.6em;
    border-bottom: solid 2px #000;
    margin-bottom: 0.2em;
}

/* Ação Rodada */
#acao-rodada {
    margin-top: 5vh;


    text-align: center;
}

#acao-rodada h2 {
    font-size: 1.8em;
    margin-bottom: 0.7em;
}

#acoes {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#acoes button {
    min-width: 130px;
    font-size: 1.2em;
    padding: 1em;
}

#acoes button:hover {
    cursor: pointer;
    scale: 1.05
}