/* Variáveis Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --cor-verdadeiro: #ED2828;
    --cor-falso: #8A8787;
}

.verdadeiro {
    background-color: #ed2828;
}

.falso {
    background-color: #8a8787;
}

button {
    border-radius: 5%;
    border: solid 3px #000;
}



/* Botão Reiniciar */
header {
    margin-top: 5vh;
    display: flex;
    padding: 0 2.5em;
}

#reiniciar-rodada {
    background-color: lightgreen;
    margin-left: auto;
    padding: 0.5em 0.8em;
    font-size: 1em;
}

#reiniciar-rodada:hover {
    cursor: pointer;
    scale: 1.05
}



/* =================================
                MAIN
   ================================= */
main {
    /*   background-color: #333; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 0 45px;
    gap: 20px;
}



/* Muninção da Rodada */
#municao-rodada {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

#verdadeiro-falso {
    margin-top: 10vh;


    display: flex;
    /*   justify-content: center; */
    gap: 2em;
}

.div-qtd-municao {
    display: flex;
    border: solid 2px #000;
}

.selecionar-qtd {
    padding: 1em 1.3em;
    border: solid 2px #000;
    font-size: 1.4em;
}

.selecionar-qtd:hover {
    opacity: 0.8;
    cursor: pointer;
}



/* Informações do pente */
#pente-espingarda {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.6em;
    /*   align-items: center; */
}

#qtd-restante {
    font-size: 1.6em;
    border-bottom: solid 2px #000;
    margin-bottom: 0.2em;
}

/* Ação Rodada */
#acao-rodada {
    margin-top: 5vh;


    text-align: center;
}

#acao-rodada h2 {
    font-size: 1.8em;
    margin-bottom: 0.7em;
}

#acoes {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#acoes button {
    min-width: 130px;
    font-size: 1.2em;
    padding: 1em;
}

#acoes button:hover {
    cursor: pointer;
    scale: 1.05
}


/* =================================
      Registro Rodadas / CELULAR 
   ================================= */
/* Rodada Atual */
#rodada-atual {
    text-align: end;
}

/* Rodadas Celular */
#celular {
    width: 300px;
    height: 100%;
    border: solid 5px #000;
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    position: relative;
}

.rodadas-celular {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border: solid 3px #000;
    border-width: 3px 0;

    opacity: 15%;
}

.rodadas-celular:first-child {
    border-width: 0 0 3px;
}

.rodadas-celular:last-child {
    border-width: 3px 0 0;
}

.rodadas-celular:hover {
    opacity: 100%;
}

.numero-rodada-celular {
    font-size: 2em;
    position: absolute;
    left: -38px;
}

.celular-diz {
    min-width: 50px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.celular-diz:hover {
    cursor: pointer;
    border: solid 2px #FFF;
    font-size: 1.15em;
}

.celular-diz::after {
    font-size: 1.4em;
    font-weight: 700;
}

.celular-diz-verdadeiro {
    background-color: var(--cor-verdadeiro);
}

.celular-diz-verdadeiro::after {
    content: "V";
}

.celular-diz-falso {
    background-color: var(--cor-falso);
}

.celular-diz-falso::after {
    content: "F";
}

.rodada-celular-definida {
    grid-column: 1/3;
}



/* Variáveis Globais */
.esconder {
    display: none;
}